body {
    padding: 3rem;
    background-color: rgb(179, 179, 219);
}

.App {
    text-align: center;
}

h1 {
    font-size: 20rem;
}

.ActSymbol {
    font-size: 3rem;
    margin: 5rem;
    padding: 15rem;
}

.OptStyle {
    font-size: 2rem;
}

input {
    width: 50%;
    height: 75%;
    font-size: 3rem;
}

.SpeechLabel {
    padding: 1rem;
}

aside {
    padding: 5rem;
}

button {
    padding: 0.7rem;
    margin: 0.7rem;
    border-radius: 20%;
    border: 1px solid transparent;
}
