.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 20rem;
}

.ActSymbol {
  font-size: 3rem;
  margin: 5rem;
  padding: 15rem;
}

input {
  width: 50%;
  height: 100%;

}

body {
  padding: 3rem;
}

.SpeechLabel {
  padding: 1rem;

}

aside {
  padding: 5rem;
}

button {
  padding: 0.5rem;
}